{% extends "base.html" %}
{% block title %}Meet the Team{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="cols" style="margin-right: 15%; margin-left: 15%">
        <div class="col">
            <table>
                <tr>
                    <td> <img src="/static/img/team25/lenno.jpg"> </td>
                    <td>
                        <h2>Lenno</h2> <br>
                        <p>Eduvids</p>
                    </td>
                    <td> </td>
                    <td>
                        <h2>Lukas</h2> <br>
                        <p>Eduvids</p>
                    </td>
                    <td> </td>
                    <td>
                        <h2>Finn</h2> <br>
                        <p>Eduvids</p>
                    </td>
                    <td> </td>
                    <td>
                        <h2>Artus</h2> <br>
                        <p>Eduvids</p>
                    </td>
                    <td> </td>
                    <td>
                        <h2>Paul</h2> <br>
                        <p>Eduvids</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}
